In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("../data/hourly_transportation_202105.csv")

In [4]:
df.head()

,transition_date,transition_hour,transport_type_id,road_type,line,transfer_type,number_of_passage,number_of_passenger,product_kind,transaction_type_desc,town,line_name,station_poi_desc_cd
0,2021-05-01,0,1,OTOYOL,AVCILAR-ZINCIRLIKUYU,Normal,1,1,INDIRIMLI1,Indirimli Kontur,BAYRAMPASA,34,EDIRNEKAPI 2
1,2021-05-01,0,1,OTOYOL,AVCILAR-ZINCIRLIKUYU,Normal,2,1,UCRETSIZ,Ucretsiz,KUCUKCEKMECE,34,SEFAKOY
2,2021-05-01,0,1,OTOYOL,SULTANBEYLI-UMRANIYE,Normal,3,3,TAM,Tam Kontur,BAKIRKOY,131,NaN
3,2021-05-01,0,1,OTOYOL,AVCILAR-ZINCIRLIKUYU,Normal,2,2,UCRETSIZ,Ucretsiz,ZEYTINBURNU,34,CEVIZLIBAG
4,2021-05-01,0,1,OTOYOL,AVCILAR-ZINCIRLIKUYU,Normal,1,1,INDIRIMLI1,Indirimli Kontur,BEYOGLU,34,HALICIOGLU

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7238254 entries, 0 to 7238253
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   transition_date        object
 1   transition_hour        int64
 2   transport_type_id      int64
 3   road_type              object
 4   line                   object
 5   transfer_type          object
 6   number_of_passage      int64
 7   number_of_passenger    int64
 8   product_kind           object
 9   transaction_type_desc  object
 10  town                   object
 11  line_name              object
 12  station_poi_desc_cd    object
dtypes: int64(4), object(9)
memory usage: 717.9+ MB

In [7]:
df.describe()

,transition_hour,transport_type_id,number_of_passage,number_of_passenger
count,7.238254e+06,7.238254e+06,7.238254e+06,7.238254e+06
mean,1.332651e+01,1.319976e+00,9.266028e+00,9.243876e+00
std,4.788097e+00,5.310547e-01,3.084617e+01,3.082515e+01
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,9.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
50%,1.400000e+01,1.000000e+00,2.000000e+00,2.000000e+00
75%,1.700000e+01,2.000000e+00,6.000000e+00,6.000000e+00
max,2.300000e+01,3.000000e+00,2.062000e+03,2.061000e+03

In [10]:
df[["transport_type_id","road_type"]].drop_duplicates()

     transport_type_id road_type
0                    1    OTOYOL
8                    3     DENİZ
797                  2     RAYLI

In [11]:
df.head(100).to_csv("../data/sample_data.csv")